<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 格式化输出：%d表示日期，%t表示线程名，%p 级别, %logger logger name最多36字节 %msg：日志消息，%n是换行符 -->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%p] [%logger{36}] - %m%n</pattern>
            <immediateFlush>true</immediateFlush>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FLOWFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${osp-proxy.logfile}_flow.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${osp-proxy.logfile}_flow_%i.log
            </fileNamePattern>
            <!-- keep 10G' worth of history -->
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <append>true</append>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>1GB</maxFileSize>
        </triggeringPolicy>
        <encoder class="com.vip.osp.logutil.OspLogTimerLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%t表示线程名，%p 级别, %logger logger name最多36字节 %msg：日志消息，%n是换行符 -->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%p] [%logger{36}] - %m%n</pattern>
            <immediateFlush>false</immediateFlush>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FLOWFILE-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>1024</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="FLOWFILE"/>
    </appender>

    <appender name="ERRORFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${osp-proxy.logfile}_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${osp-proxy.logfile}_error_%i.log
            </fileNamePattern>
            <!-- keep 1G' worth of history -->
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <append>true</append>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100mb</maxFileSize>
        </triggeringPolicy>

        <encoder class="com.vip.osp.logutil.OspLogTimerLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%t表示线程名，%p 级别, %logger logger name最多36字节 %msg：日志消息，%n是换行符 -->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%p] [%logger{36}] - %m%n</pattern>
            <immediateFlush>false</immediateFlush>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ACCESSFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${osp-proxy.logfile}_access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${osp-proxy.logfile}_access_%i.log
            </fileNamePattern>
            <!-- keep 10G' worth of history -->
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <append>true</append>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>1GB</maxFileSize>
        </triggeringPolicy>

        <encoder class="com.vip.osp.logutil.OspLogTimerLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] - %m%n</pattern>
            <immediateFlush>false</immediateFlush>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ACCESSFILE-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>1024</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="ACCESSFILE"/>
    </appender>

    <!-- enabled by default -->
    <if condition='!property("osp.accesslog").equals("false")'>
        <then>
            <logger name="SimpleFlie-Log" additivity="false" level="INFO">
                <appender-ref ref="ACCESSFILE-ASYNC"/>
                <!-- disabled by default -->
                <!-- <if condition='property("osp.flowlog").equals("true")'> <then> <appender-ref ref="FLOWFILE-ASYNC" /> </then> </if> -->
            </logger>
        </then>
        <else>
            <logger name="SimpleFlie-Log" level="OFF"/>
        </else>
    </if>

    <!-- disabled info level log by default -->
    <if condition='property("osp.flowlog").equals("true")'>
        <then>
            <root level="INFO">
                <appender-ref ref="FLOWFILE-ASYNC"/>
                <appender-ref ref="ERRORFILE"/>
                <if condition='property("osp.stdout").equals("true")'>
                    <then>
                        <appender-ref ref="STDOUT"/>
                    </then>
                </if>
            </root>
        </then>
        <else>
            <root level="WARN">
                <appender-ref ref="FLOWFILE-ASYNC"/>
                <appender-ref ref="ERRORFILE"/>
                <if condition='property("osp.stdout").equals("true")'>
                    <then>
                        <appender-ref ref="STDOUT"/>
                    </then>
                </if>
            </root>
        </else>
    </if>

    <!-- mercury trace logger -->
    <appender name="MERCURY" class="com.vipshop.mercury.log.logback.MercuryLogbackAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.vip.mercury.test">
        <level value="info"/>
        <appender-ref ref="MERCURY"/>
    </logger>

    <appender name="MercuryTraceFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/apps/logs/trace/logs/${app.instance.name:-osp-proxy}/trace-log.out</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <!-- size rollover -->
            <fileNamePattern>/apps/logs/trace/logs/${app.instance.name:-osp-proxy}/trace-log-%i.out
            </fileNamePattern>
            <!-- keep 10 G' worth of history -->
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <append>true</append>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>1GB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="mercury-trace-logger" additivity="false">
        <level value="info"/>
        <appender-ref ref="MercuryTraceFileAppender"/>
    </logger>
    <appender name="MercuryLogFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/apps/logs/trace/logs/${app.instance.name:-osp-proxy}/log-log.out</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <!-- size rollover -->
            <fileNamePattern>/apps/logs/trace/logs/${app.instance.name:-osp-proxy}/log-log-%i.out
            </fileNamePattern>
            <!-- keep 10G' worth of history -->
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <append>true</append>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>1GB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="mercury-log-logger" additivity="false">
        <level value="info"/>
        <appender-ref ref="MercuryLogFileAppender"/>
    </logger>
    <appender name="MercuryMetricFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/apps/logs/trace/logs/${app.instance.name:-osp-proxy}/metric-log.out</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <!-- size rollover -Dapp.instance.name=remote-osp-proxy -->
            <fileNamePattern>/apps/logs/trace/logs/${app.instance.name:-osp-proxy}/metric-log-%i.out
            </fileNamePattern>
            <!-- keep 1G' worth of history -->
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <append>true</append>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100mb</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="mercury-metric-logger" additivity="false">
        <level value="info"/>
        <appender-ref ref="MercuryMetricFileAppender"/>
    </logger>
    <!-- end of mercury trace -->

    <!-- hermes logger -->
    <appender name="HermesFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/apps/logs/hermes/logs/${app.instance.name:-osp-proxy}/hermes-log.out</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <!-- size rollover -->
            <fileNamePattern>/apps/logs/hermes/logs/${app.instance.name:-osp-proxy}/hermes-log-%i.out
            </fileNamePattern>
            <!-- keep 1G' worth of history -->
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <append>true</append>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100mb</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.vip.hermes.core.reporter" additivity="false">
        <level value="info"/>
        <appender-ref ref="HermesFileAppender"/>
    </logger>
    <!-- end of hermes logger -->
</configuration>